@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}


/* 課題ここから */

.wrap {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.wrap .box {
    width: 300px;
    height: 300px;
    background: blue;
    margin-bottom: 20px;
}

.wrap2 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.wrap2 .box2 {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background: red;
}


.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    height: 100px;
    margin: 0 auto;
}

.nav h2 {
    width: 33%;
    margin: o auto;
}

.nav li {
    padding: 5px 30px 5px 5px;
    border-right: 1px solid #000000;
    height: 12px;
}

.nav li:last-child {
    border-right: none;
} 

@media screen and (max-width:767px) {
    .nav {
        display: block;
       
    }
        .nav h2 {
            margin: 15px;
        }

        .nav li {
            border-bottom: 1px solid #000000;
            margin: 10px;
            padding: 10px;
            border-right: none;
        }
   
}